// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layers

#define BASE        0
#define LOWER       1
#define RAISE       2
#define ADJUST      3
#define NUM         4
#define SHORTCUTS   5
#define FUNC        6
#define MEDIA       7
#define EURO

/ {
    macros {
        fwrd_aro: fwrd_aro {
            label = "ZM_small_arrow";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp MINUS>, <&macro_tap>, <&kp GT>;
        };

        fat_aro: fat_aro {
            label = "ZM_fat_arrow";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp EQUAL>, <&macro_tap>, <&kp GT>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q          &kp W      &kp F  &kp P  &kp B    &kp J  &kp L  &kp U      &kp Y       &kp BSPC
&kp A          &kp R      &kp S  &kp T  &kp G    &kp M  &kp N  &kp E      &kp I       &kp O
&kp Z          &kp X      &kp C  &kp D  &kp V    &kp K  &kp H  &kp COMMA  &kp DOT     &kp ENTER
&kp BACKSPACE  &sk LCTRL                                                  &bt BT_CLR  &kp SPACE
            >;

            label = "BASE";
        };
    };
};
